# requirements.txt
pandas
numpy
scikit-learn
xgboost
flask
joblib
requests                 # <--- 爬虫需要
beautifulsoup4           # <--- 爬虫需要
lxml                     # <--- 爬虫需要 (BS4解析器)
selenium                 # <--- Selenium 爬虫需要
webdriver-manager        # <--- Selenium 爬虫需要 (自动管理驱动)
# gunicorn
# python-dotenv
# opencv-python
# GeoIP2
